<app-navbar></app-navbar>

<body style="background-image: url('../../../assets/background.jpg');width: 100%;height: 145%;">
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mt50">
                <h1 class="mt-5 mr20" style="font-size: 200%; color: rgb(29, 29, 158);text-align: ;"><b>Welcome to
                        GreenWash</b></h1>
            </div>
            <h1 class="logo-large text-white">
                <img src="https://www.hyperlinkinfosystem.com/assets/case-study/greenwashcar/appLogo.png" alt="green wash" title="Green Wash" class="img-fluid mb-0 d-block" style="max-height: 170px; ">
                <span class="text-white f-s-36 font-weight-bold d-block"> Green Wash </span>
                <span class="f-s-18 font-weight-bold opa7"> On-Demand Car Wash App </span>
                </h1>
        </div>
        <div class="col-md-6 mt20 text-center" style="margin-left: 100px;">
            <img src="../../../assets/greenwash.jpg" style="margin-top: 10px;" height="90%" width="100%">
        </div>
    </div> -->

    <div class="text-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center mt-md-5 mt-4">
                    <div class="overview-info" data-wow-delay="0.5s">
                        <div class="height25 visible-md visible-lg"> </div>
                        <h1 class="logo-large text-white">
                            <img src="../../../assets/greenwash.jpg"
                                alt="green wash" title="Green Wash" class="img-fluid mb-0 d-block center"
                                style="max-height: 170px;">
                            <br>
                            <span class="text-white f-s-36 font-weight-bold d-block"> Green Wash </span>
                            <span class="f-s-18 font-weight-bold opa7"> On-Demand Car Wash App </span>
                        </h1>
                        <h2 class="text-center m-t-40 m-b-10 font-weight-bold text-white"> Overview </h2>
                        <p class="overview-text text-justify"
                            style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: large;">
                            Tell us about your car location, and we will come to you. With Green Wash, you can get your
                            car washed wherever you are at your convenience. Whether it's your home, salon, office, or
                            any other place, your car wash is just a few taps away. Few moments spend in signup can save
                            you valuable time. All you need to do is just enter your car, address, and payment details.
                            A washer will come to your location and give your vehicle a premium wash. The app also
                            contains various packages and add-ons to wipe, clean, and dress your entire car from inside
                            out. One of the app's best parts is that users can even schedule future car wash and give
                            reviews and ratings to washers. Just download the app now and book your first car wash
                            today.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <footer>
        <div class="row ml10 mr10 mt20">
            <div class="col-sm-6">
              <div class="card" style="background: teal;">
                <div class="card-body">
                <img src="../../../assets/carwash1.jpg" style="width: 45%;">
                <img src="../../../assets/carwash2.jpg" style="width: 50%;margin-left: 30px;">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" style="background: teal;">
                <div class="card-body">
                    <img src="../../../assets/carwash3.jpg" style="width: 50%;">
                    <img src="../../../assets/carwash4.jpg" style="width: 47%;margin-left: 15px;">
                </div>
              </div>
            </div>
          </div>

    <p class="cp-text" style="text-align: center;margin-top: 120px;">
        © Copyright 2023 GreenWash. All rights reserved.
    </p>
</footer>
</body>
