.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.overview-text {
    color: rgba(255,255,255, 0.80);
}
.text-justify {
    text-align: justify!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);}

.footer {
    background: #061D25;
    padding: 10px 0;
  }

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }