<!-- <mat-card class="mt10" *ngFor="let q of Washpacks"  style="background-color: white;" >
    <mat-card-header>
        <mat-card-title style="color: lightslategray;">washpack</mat-card-title>
        <mat-card-subtitle class="color">Id: {{ q.id }} </mat-card-subtitle>
        <mat-card-subtitle class="color">Name: {{ q.packName }} </mat-card-subtitle>
        <mat-card-subtitle class="color">Amount: {{ q.amount}} </mat-card-subtitle>
        <mat-card-subtitle class="color">Amount: {{ q.description}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
        <button mat-raised-button color="primary">Select</button>
    </mat-card-header>
</mat-card> -->

<mat-card style="background: white; border-radius: 2px; border: #333;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm mt10 ml20" style="margin-bottom: 20px;" *ngFor="let q of Washpacks">
                <div class="card card-inverse"
                    style="background-color: #66CDAA;color:whitesmoke;  border-color: #333; width: 20rem;">
                    <div class="card-block mt20 mb20 ml10">
                        <div>
                            <img mat-card-image src="../../../../assets/carwashimg.jpg" class="imgs" style="border: #333; 
                            width: 95%; margin-left: 0px;" >
                        </div>
                        <h3 class="card-title" style="text-align: start;">Name: {{ q.packName }}</h3>
                        <p class="card-text" style="text-align: start;">Description: {{ q.description}}</p>
                        <p class="card-text" style="text-align: start;">Amount: {{ q.amount}}</p>
                        <div >
                            <button mat-raised-button color="primary" [routerLink]="'/user/order/' + q.id">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>