:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* .cls{
    margin-top: 2px;
  } */
  
  .mat-drawer {
    width: 260px;
    background-color: #228B22;
  }
  
  .mat-drawer-container {
    height: 100%;
  }
  
  .mat-drawer-content{
    background-color: whitesmoke;
  }