<mat-nav-list >
    <h2 class="mt-2 text-center ">Applications</h2>
    <mat-divider></mat-divider>
    <button mat-list-item routerLink="/admin" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon>home</mat-icon>
        Home
    </button>
    <button mat-list-item routerLink="/admin/profile" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon>account_box</mat-icon>
        Profile
    </button>
    <button mat-list-item routerLink="/admin/washpack" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon>
            inventory
        </mat-icon>
        Washpacks
    </button>
    <button mat-list-item routerLink="/admin/customer" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon>
            switch_account
        </mat-icon>
        Customer Details
    </button>
    <button mat-list-item routerLink="/admin/washer" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon><span class="material-icons-outlined">
            people_alt
            </span></mat-icon>
        Washer Details
    </button>
    <button mat-list-item routerLink="/admin/orders" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon><span class="material-icons-outlined">
            dashboard
            </span></mat-icon>
        Orders
    </button>
    <button mat-list-item routerLink="/admin/addleader" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon>leaderboard</mat-icon>
        Add to LeaderBoard
    </button>
    <button mat-list-item routerLink="/admin/leaderboard" routerLinkActive="list-item-active">
        <mat-icon mat-list-icon>leaderboard</mat-icon>
        WasherLeaderboard
    </button>
</mat-nav-list>
