<mat-card style="margin-top: 20px;background-color: whitesmoke;">
    <h1 class="text-center" style="color: black;">Add Washer Rank</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <form (ngSubmit)="addToLeaderboard()">

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label style="color: black;">Rank</mat-label>
                        <input [(ngModel)]="addLeader.rank" type="text" name="rank" placeholder="Enter here" matInput />
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label style="color: black;">Washername</mat-label>
                        <input [(ngModel)]="addLeader.washerName" type="text" name="washerName" placeholder="Enter here"
                            matInput />
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label style="color: black;">waterSavedInLiters</mat-label>
                        <input [(ngModel)]="addLeader.waterSavedInLiters" type="number" name="waterSavedInLiters"
                            placeholder="Enter here" matInput />
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label style="color: black;">working Hours</mat-label>
                        <input [(ngModel)]="addLeader.workingHrs" type="text" name="workingHrs"
                            placeholder="Enter here" matInput />
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary">Add</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</mat-card>
